.container {
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 80px;
    color: rgb(138, 138, 138);
}