:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$backgroundColor: #010d1a;
$color: #ebebeb;

.search {
  padding-top: 5px;
  img{
    display: block;
    margin: 0 auto;
    top: -27px;
    left: 75px;
  }
}
.searchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  left: -14%;
  pointer-events: none;
  
}
input{
  height: 19px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  padding: 6px;

}

.logo {
  img {
    width: 30px;
    padding-left: 15px;
    opacity: 0.8;
    cursor: pointer;
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: right;
  padding: 10px;
  background-color: $backgroundColor;
  color: $color;
  p {
    font-size: 1.5em;
    margin-left: 10rem;
  }
  a {
    color: #ebebeb;
    text-decoration: none;
    padding: 15px;
    &:hover {
      color: #ebebeb;
      text-shadow: #ebebeb88 0 0 3px;
    }
  }
  margin-bottom: 10px;
}

.links {
  img {
    width: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.userInfo {
  position: absolute;
  min-width: 200px;
  max-width: 280px;
  min-height: 80px;
  right: 5px;
  top: 37px;
  padding: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .image {
    img {
      border-radius: 50%;
    }
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .logout {
    text-align: center;
    padding: 2px;
    margin-top: 10px;
  }

  button {
    background-color: #ebebeb;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #cecece;
      color: rgb(1, 12, 75);
    }
  }
}
