
<nav class="container">
  <div class="logo">
    <img routerLinkActive="active current" src="../assets/menu.png" (click)="displayMenu()">
  </div>
  <div class="search">
    <input type="text" placeholder="Search" (keyup)="search($event)"><img class="searchIcon"  src="../assets/search.png" alt="search">
  </div>
  <div class="links">
    <a *ngIf="!isLoggedIn$" routerLinkActive="active current" [routerLink]="['/register']">Register</a>   
    <a *ngIf="!isLoggedIn$" routerLinkActive="active current" [routerLink]="['/login']">Login</a>
    <a *ngIf="isLoggedIn$" routerLinkActive="active current" [routerLink]="['/']">Home</a>
    <a *ngIf="isLoggedIn$" routerLinkActive="active current"><img src="../assets/user.png" (click)="getProfileInfo()">  </a>
    <div class="userInfo" *ngIf="isLoggedIn$ && profileInfoShow">
      <button class="close" (click)="showProfileInfo(false)">x</button>
      <app-user-info (onclickProfileInfo)="showProfileInfo($event)"></app-user-info>     
      <button class="logout" *ngIf="isLoggedIn$" (click)="showProfileInfo(false)" [routerLink]="['/login']">Logout</button>
    </div>
  </div>
</nav>
<div class="shop" [hidden]="displayClick">
  <app-header></app-header>
  <app-shop-cart ></app-shop-cart>
  <app-shop-products ></app-shop-products>  
</div>

<router-outlet></router-outlet>