<h1>Login Form</h1>
<form [formGroup]="signInForm" (ngSubmit)="loginUser()">
<div class="alert" *ngIf="invalidLogin">
  Login error. Please type correct email and/or password.
</div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div class="alert alert-danger" *ngIf="email?.touched && email?.invalid">
      <div *ngIf="email?.errors?.required">Email is required.</div>
      <div *ngIf="email?.errors?.pattern"> Please type a valid email address</div>
    </div>

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <div
      class="alert alert-danger"
      *ngIf="password?.touched && password?.invalid"
    >
      <div *ngIf="password?.errors?.required">Password is required.</div>
    </div>
  </div>
  <div class="buttonContainer">
    <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">
      Sign In
    </button>
  </div>
  <div class="register">
          
      <h3>Don't have an account?</h3>
      <button class="submit" (click)="sendToRegister()">Register</button>
  </div>
 
</form>
