
<div class="products">
  <div *ngFor="let product of returnProducts()" class="product">
    <div class="image">
      <img src="{{product.image}}">
    </div>
    <div class="product-details">
      <div class="title">{{ product.name }}</div>
      <div class="descritpion">{{ product.description }}</div>
      <div class="space"></div>
      
      
    </div>
  </div>
</div>
<!-- <div class="body">
  <div class="filters">
      
    <div class="categories">
      <span class="option" (click)="getCategory('')">All</span>
      <div class="category" *ngFor="let category of categoriesList">
        <span class="option" (click)="getCategory(category)">{{category}}</span>
      </div>
    </div>
      <!-- <mat-form-field appearance="fill">
          <mat-label>categories</mat-label>
          <mat-select (selectionChange)="getCategory($event.value)" [formControl]="categories">
            <mat-select-trigger>
              {{categories.value}}                
            </mat-select-trigger>
            <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>        
      -->
      <!-- 
  </div>
  <div *ngIf="products" class="products">
  
      <div class="productInfo" *ngFor="let product of shownProducts">
          <div class="labels">
              <label for="name">{{product.name}}</label>
              <label for="category">Category: {{product.category.name}}</label>
          </div>
          
          <div *ngIf="product.image?.url != null" class="image">
             <img class="img" src="{{product.image?.url}}" alt="">
          </div>
          <div class="description">
              <p>{{product.description}}</p>
          </div>

          <div *ngIf="AuthService.isAuthenticated()" class="vote">
            <img src="../../../assets/store-icons/up.png">  <span class="up" (click)="likesManager($event, product, 'up')"> {{product.likes_up_count}}</span>
            <img src="../../../assets/store-icons/down.png"> <span class="down" (click)="likesManager($event, product, 'down')"> {{product.likes_down_count}}</span>
          </div>
          <button><img src="../../../assets/store-icons/cart.png">Add to cart </button>
      </div>
  </div>
</div>


-->