<div class="cartItems" *ngIf="isLoggedIn$">
  <div
    *ngFor="
      let item of (cartProducts$ | async)[0].data.items;
      let option;
      of: productsInCart;
      index as i
    "
  >
    {{ item.name }}
    {{ item.price | currency: "USD":true:"1.2-2" }}
    {{ option.quantity }}
    <button class="button" (click)="more(item)">+</button>
    <button class="button" (click)="less(item)">-</button>
    <button class="button" (click)="removeItem(item)">X</button>
  </div>
</div>
<button
  *ngIf="showDelete"
  class="clear-button action-button"
  (click)="clearEntries()"
>
  REMOVE ALL
</button>

<button
  *ngIf="!isLoggedIn$"
  class="add-cart-button"
  (click)="buyProduct()"
  routerLinkActive="active current"
  [routerLink]="['/login']"
>
  BUY
</button>
<button
  *ngIf="isLoggedIn$ && (cartProducts$ | async).length > 0"
  class="add-cart-button"
  (click)="buyProduct()"
  routerLinkActive="active current"
  [routerLink]="['/']"
>
  BUY
</button>
