.cartItems {
    display: block;  
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border-radius: 5px;
    border: none;
    display: relative;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}