@mixin respond($breakpoint) {
    @if ($breakpoint == small) {
      @media (max-width: 700px) {
        @content;
      }
    }
    @if ($breakpoint == medium) {
      @media (min-width: 701px) and (max-width: 900px) {
        @content;
      }
    }
  }
  
  .form-control.ng-touched.ng-invalid {
    border-color: #f7a19b;
  }
  
  .form {
    box-shadow: 0px 0px 5px rgb(218, 218, 218);
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 10px;
    width: 100%;

  }
  h1 {
    text-align: center;
  }
  .alert {
    background-color: #f8cecb;
    border-color: #f8cecb;
    border-radius: 3px;
    max-width: 100%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ad3830;
    text-align: center;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 145px 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
  
    label {
      grid-area: 1 / 1 / 2 / 2;
    }
    input {
      grid-area: 1 / 2 / 2 / 3;
    }
    .alert {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
  
  label {
    padding: 10px;
  }
  
  h1 {
    padding: 15px;
  }
  
  .buttonContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  button {
    &:disabled {
      border: 1px solid #bebebe;
    }
    &:enabled {
      border: 1px solid #6381af;
      color: #1a3763;
      background-color: rgb(230, 245, 253);
      cursor: pointer;
    }
  
    border-radius: 5px;
    max-width: 100%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  input,
  select {

    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    // focus
    &:focus {
      outline: none;
      border-color: #3b9ada;
      &::placeholder {
        color: #3b9ada;
      }
    }
  }
  