<h1>Register Form</h1>

<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div *ngIf="isError" class="alert alert-danger">
    Error while registering user. Please try again.
  </div>
  <div class="form-group">
    <label for="firstName">First Name*</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      formControlName="firstName"
      placeholder="First Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName?.touched && firstName?.invalid"
    >
      <div *ngIf="firstName?.errors?.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name*</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="lastName?.touched && lastName?.invalid"
    >
      <div *ngIf="lastName?.errors?.required">Last Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="userName">User Name*</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      formControlName="userName"
      placeholder="User Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="userName?.touched && userName?.invalid"
    >
      <div *ngIf="userName?.errors?.required">User Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email*</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
    <div class="alert alert-danger" *ngIf="email?.touched && email?.invalid">
      <div *ngIf="email?.errors?.required">Email is required</div>
      <div *ngIf="email?.errors?.pattern">
        Email is invalid. Please enter a valid email address ex:
        example@email.com
      </div>
    </div>
  </div>
  <div formGroupName="passwords">
    <div class="form-group">
      <label for="password">Password*</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Password"
      />

      <div
        class="alert alert-danger"
        *ngIf="password?.touched && password?.invalid"
      >
        <div *ngIf="password?.errors?.required">Password is required</div>
        <div *ngIf="password?.errors?.minlength">
          Password must be at least
          {{ password!.errors!.minlength.requiredLength }} characters long
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password*</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />

      <div
        class="alert alert-danger"
        *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
      >
        <div *ngIf="confirmPassword?.errors?.required">
          Confirm Password is required
        </div>
      </div>
    </div>

    <div
      class="alert alert-danger"
      *ngIf="
        confirmPassword?.touched &&
        confirmPassword?.dirty &&
        password?.touched &&
        password?.dirty && passwords?.errors?.notSamePassword
      "
    >
      <div *ngIf="passwords?.errors?.notSamePassword">
        Password and Confirm Password must be same
      </div>
      
    </div>
  </div>
  <div class="buttonContainer">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </div>
</form>
