.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.categories{
    padding: 5px;
    border-radius: 5px;
    background-color: #f3f3f3;
    min-height: 100%;
}

.option{
    cursor: pointer;
    padding: 5px;
    padding-top: 2px;
    display: block;
}

.container {
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    color: blue;
    background-color: aquamarine;
}

.home {
    font-size: 80px;
    color: rgb(138, 138, 138);
}

.image{
    img {
        max-width: 100px;
    }
}
.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.vote, button {
    img {
        width: 20px;
    };
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(138, 138, 138);
}