.userInfo {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  margin: 0;
}
.image {
  display: flex;
  justify-content: center;
  padding-right: 5px;
  img {
    border-radius: 50%;
  }
}
.info {
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
