<div class="userInfo">
    <div class="image">
        <img src="https://fakeimg.pl/50/">
    </div>
    <div class="info">
       <p>{{(userInfo$ | async)?.user?.data.user.name}}</p>
        <p>{{(userInfo$ | async)?.user?.data.user.email}}</p>
    </div>
</div>
